.modal {
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
}

.container {
  padding: 10px;
}

.header {
  background: #212529;
  padding: 1rem;
}

.header h2 {
  margin: 0;
  color: white;
}

.actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.actions button {
  margin-left: 4px;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}
